#food-menu {
    padding: 5rem 0;
    background: #f5f5f5;
}

.food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 500;
    color: #e11bb6;
}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}

.food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description {
    margin: auto 1.5rem;
}

.food-title {
    font-size: 1.8rem;
    color: #e11bb6;
    font-weight: 500;
    text-transform: uppercase;
}

.food-description p {
    font-size: 1.4rem;
    color:#555;
    font-weight: 600;
}
.food-description .food-price {
    color:#e11bb6;
    font-weight: 700;
}